<p style="color: green"><%= notice %></p>

<div class="container">
<h1 class="mx-auto">Leagues</h1>

<div id="leagues" class="container border">
  <% @leagues.each do |league| %>
    <div class="container border">
      <h2><%= link_to league.league_name, league_path(league) %></h2>
    </div>
  <% end %>

</div>

<%= link_to "New league", new_league_path %>
</div>