<p style="color: green"><%= notice %></p>

<div class="container ">
<h1><%= @league.league_name %> </h1>

<h2>Teams:</h2>
<div class="container border bg-secondary m-3 p-3">
<% if @tables.any? %>
  <ul>
    <% @tables.each do |table| %>
      <li><h3 class="text-warning"><%= link_to table.name, table_path(table), class:"text-warning link-underline-opacity-0" %></h3></li>
    <% end %>
  </ul>
<% else %>
  <p>No tables found for this league.</p>
<% end %>
</div>

</div>