<h1>About</h1>
<p>The Api used for this project  is <a href="https://rapidapi.com/api-sports/api/api-football">Link</a>   .
It is an API that is based on football(soccer) information, that is the required data for this project.
In this Api, data is well structured in an understandable JSON format with various end points that makes it easier to fetch data and is inter-connected with ids.
For this project we will need 3 different tables named: leagues, tables, and players which are further elaborated in the ERD diagram.
</p>
<p>
We have used 3 different endpoints from the API above that provide us data about the different leagues, different teams and the different players
All the data fetched has unique id which makes it possible to relate and combine</p>