<div id="<%= dom_id table %>">
  <p>
    <strong>Name:</strong>
    <%= table.name %>
  </p>



  <p>
    <strong>Logo:</strong>
    <%= table.logo %>
  </p>

  <p>
    <strong>League:</strong>
    <%= table.league_id %>
  </p>

</div>
