<p style="color: green"><%= notice %></p>

<div class="container">
<h1>Tables</h1>

  <div id="tables" class="container border">
    <% @tables.each do |table| %>
    <div class="container border">
      <%= render table %>
      <p>
        <%= link_to "Show this table", table %>
      </p>
      </div>
    <% end %>

    x
  </div>

<%= link_to "New table", new_table_path %>
</div>