
<h1>Search</h1>
<br>
<div class="container">
<ol>
<% @tables.each do |table| %>
  <li>
    <h3 class="text-warning"><%= link_to table.name, table_path(table), class:"text-warning link-underline-opacity-0" %></h3>
  </li>
<% end %>
</ol>
</div>